.sidebar
    .author
        h1 MPL
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nostrum optio magnam sapiente tenetur sequi, nihil vero earum magni at corporis soluta saepe impedit quidem voluptatum nobis eos eum! Nisi.