doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='/js/lib/pixi.js' defer='')
    script(src='/js/pixiScript.js' defer='')
    link(rel="icon" href="https://scontent.fvca1-1.fna.fbcdn.net/v/t39.30808-6/277586082_348590387293282_4124150314218535846_n.png?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=an1ADfc20mEAX-f7k6l&_nc_ht=scontent.fvca1-1.fna&oh=00_AT-0byXwgAfhSrz087cexb2tiXlyFtdNAdm3G_rP7LF1-Q&oe=62937C9F" type="image/icon type")
    link(rel='stylesheet' href='/css/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/toastify.css")
    link(rel="stylesheet" href="/css/sidebar.css") 

    block css
    title High Society VN
    if messages
      body(onload=`showMsg("${messages}")`)
    .wrapper
      header.header 
        .container
          .pixi__container
          ul.header__navbar
            li.header__navbar-item
              a.header__navbar-link(href="/") Trang chủ
            li.header__navbar-item(href="/posts" class=allPosts ? " header__navbar-item--active" : "")  
               a.header__navbar-link(href="/posts" class=allPosts ? " header__navbar-link--active" : "")  Tất cả bài viết
            li.header__navbar-item
               a.header__navbar-link(href="/categories") Bài viết theo chủ đề
            li.header__navbar-item
              a.header__navbar-link Công cụ
            li.header__navbar-item
               a.header__navbar-link Về HSV
            if loggedIn
              li.header__navbar-item
                a.header__navbar-link(href="/auth/logout") Đăng xuất
            if !loggedIn
              li.header__navbar-item
                a.header__navbar-link(href="/login") Đăng nhập/Đăng ký
      .main
        block main
        include ../includes/sidebar.pug

      footer
        p COPYRIGHT 2022 BY HIGHSOCIETYVIETNAM
    block script
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
    script(type="text/javascript" src="/js/toastify.js")
    script(type="text/javascript" src="/js/tryptamineDosage.js" defer)
