extends layouts/main.pug
block css
    link(rel="stylesheet" href="/css/tagcloud.css")
block main
    .content
        .tagcloud__container 
block script
    script(type="text/javascript" src="/js/lib/TagCloud.js")
    script(type="text/javascript" src="/js/tagcloudScript.js")

