.login {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.login span {
  font-size: 2rem;
  font-weight: bold;
}

.login__facebook {
  margin-top: 2rem;

  display: block;
  width:30rem;
}

.login__facebook img {
  width: 100%;
}
